<div class="row">
    <div class="container my-5">
        <h1 class="d-flex justify-content-center search-title my-5">
            Example Component
        </h1>
        <div class="text-right my-5">
            <div class="form-group mt-5">
                <input name="text" type="text" class="form-control" id="exampleBehaviourSubject"
                    placeholder="Enter something" [value]="data" (keydown)=" submit($event)">
            </div>
            <button class="btn btn-primary ml-2" (click)="clear()">Clear</button>
            <button class="btn btn-secondary ml-2" [routerLink]="'forms-example'">Go to Forms Examples</button>
        </div>
        <h2>{{ title }} </h2>
    </div>
</div>